* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit-reguler", sans-serif;
}
body {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 350px;
  height: 465px;
  background: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 50px;
  text-align: center;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
img {
  width: 280px;
  margin: 10px;
  border-radius: 10px;
  height: 280px;
  margin-bottom: 30px;
}
.bungkus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
p {
  color: grey;
  font-size: 15px;
}
